<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Receta</h2>
  
    <table cellspacing="2" cellpadding="2" >
        <thead>
            <th>Numero</th>
            <th>Paciente</th>
            <th>Fecha</th>
        </thead>
        <tbody>
                <tr>
                    <td align="center" >{{ receta.idreceta  }}</td>
                    <td align="center" >{{ receta.paciente }}</td>
                    <td align="center" >{{ receta.fechareceta  }}</td>
                </tr>
        </tbody>
    </table>
    <br>
    <h2>Medicamentos: {{ receta.medicamentos }}</h2>
    <h2>Tratamiento: {{ receta.tratamiento }}</h2>
</body>
</html>