{% extends 'base.html' %}

{% block title %} | Estadisticas {% endblock title %}

{% block content %}
<div class="text-center">
  <br><br>
  <h1>Estadisticas</h1>

</div>
<div class="content7">
  <div class="container">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
      <div id="chart" class="chart"></div>
      </div>
  </div>
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
      <div id="chart2" class="chart2"></div>
      </div>
    </div>
  </div>
</div>
<div class="content7">
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
      <div id="chart4" class="chart4"></div>
      </div>
    </div>
  </div>
</div>
<div class="container_1">
  <div class="conteiner_estad_2">
    <h4>Mes:{{ mesactual }}</h4>
    <h4>Consultas: {{ consultasmes }} </h4>
    <h4>Devengado: ${{ devengadomes }} </h4>
  </div>

  <div class="conteiner_estad_2">
    <h4>Año:{{ year }}</h4>
    <h4>Consultas: {{ consultasanio}} </h4>
    <h4>Devengado: ${{ devengadoanio}} </h4>
  </div>
  <div class="conteiner_estad_2">
    <h4>Consultas: {{ totalconsultas }} </h4>
    <h4>Pacientes: {{ totalpacientes }} </h4>
    <h4>Devengado: ${{ totaldevengado }} </h4>
  </div>
</div>

<script>
  
  </script>
{% endblock content %}
