{% extends 'base.html' %}

{% block title %} | Inicio {% endblock title %}

{% block content %}
<div class="text-center">
    <br><br>
        <h1>System</h1>
</div>
<div class="container_home_buttons">
    <div class="container_home_buttons_2">
    <a class="btn btn-outline-success" href="/agregarpaciente/">Agregar paciente</a>
    <a class="btn btn-outline-success" href="/agregarconsulta/">Agregar consulta</a>
    </div>
    <div class="content2">
      <input class="form-control me-2" type="text" placeholder="Ingrese un nombre" aria-label="Search" name="nombre" 
              autocomplete="off" style="width: 500px;">

      <button class="btn btn-outline-success" type="submit" onclick="buscar_paciente_index()">Buscar</button>
    </div>
</div>

<div class="container">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
    <br><br>
  <div id="chart3" class="chart3"></div>
  </div>
</div>
<br><br>
<div class="container_home">
  <div class="container_estad_2">
    <h4>Consultas:{{consultashoy}}</h4>
  </div>
  <div class="container_estad_2">
    <h4>Devengado:${{devengadohoy}}</h4>
  </div>
</div>

{% if mensaje == 1 %}
    <script>
        swal({
            title: "!Dato no encontrado!",
            text: "No existe ese paciente!",
            icon: "info",
        });
    </script>
{% endif %}
{% endblock content %}>