<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta</h1>
    
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Nombre: {{ receta.consulta.paciente }} </h2>
        </div>
    </div>
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Fecha: {{ receta.fechareceta }} </h2>
        </div>
    </div>
    
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Medicamento:{{ receta.medicamento }} </h2>
        </div>
    </div>
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Dosis:{{ receta.dosis }} </h2>
        </div>
    </div>
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Duracion:{{ receta.duracion }} </h2>
        </div>
    </div>
    <div class="content">
        <div class="content6">       
            <h3 name="nombre">Indicaciones:{{ receta.indicaciones }} </h2>
        </div>
    </div>
</body>
</html>