<form enctype="multipart/form-data" method="post">

    {% csrf_token %}

    <table class = 'w-50 table table-light' style="border-radius:10px;">
  <!--   
        <label for="" class="form-label">Nombre</label>

        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" 
        placeholder="Escribar el nombre del paciente" value="{{ formulariocrearpaciente.nombre }}">
  
       
        <input type="date"  class="form-control"  name="" id="" aria-describedby="helpId" placeholder="" 
        value="formulariocrearpaciente.#id_fecha_nacimiento" autocomplete= "off" />
        
        <input type="number"  class="form-control"  name="" id="" aria-describedby="helpId" placeholder="" 
        value="{{ formulariocrearpaciente.telefono }}"  />
        -->

        {% for field in formulariocrearpaciente %}
        <tr>
            <th>{{field.label}}</th>
            <th>{{field}}</th>
          
        </tr>
        {% endfor %}


    </table>
  
<!--
    {% csrf_token %}
    {% for campo in formulariocrearpaciente %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
            <input 
            type="{{ campo.field.widget.input_type }}" 
            class="form-control" 
            name="{{ campo.name }}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo.label }}"
            value="{{ campo.value | default:'' }}"
            autocomplete= "off"
             />
        </div>
        <div class="col-12 help-text"> {{ campo.errors }}</div>
    {% endfor %}
    -->

    <input 
        name=""
        id=""
        class="btn btn-success"
        type="submit"
        value="Guardar"
    />
    
    <a
        name=""
        id=""
        class="btn btn-primary"
        href="{% url 'menupacientes' %}"
        role="button"
        >Cancelar</a
    >    

</form>